* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f6f6f6;
    position: relative;
}

.nav-bar {
    background-color: #e1e0f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-title {
    text-transform: capitalize;
}

.navbar-center {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.menu-icon {
    color: #6d28d9;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-btn-shop {
    color: #6d28d9;
    font-size: 1.5rem;
    cursor: pointer;
}

.products {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: gray;*/
    align-items: center;
}

.section-title {
    /* background-color: indigo;*/
    margin: 2rem 0;
    text-transform: capitalize;
}

.products-center {
    /*background-color: crimson;*/
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    padding: 0 1rem;
}

.product-img {
    width: 100%;
    min-height: 120px;
    max-height: 260px;
    border-radius: 8px 8px 0 0;
}

.product {
    background-color: white;
    padding-bottom: 2rem;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    text-transform: capitalize;
}

.cart-btn {
    border: none;
    background-color: rgb(189, 118, 255);
    color: white;
    padding: 10px 25px;
    border-radius: 1px 15px 15px 1px;
    cursor: pointer;
    font-weight: 800;
    margin-top: 1.3rem;
}